*.swp
*.pyc
*.py~
.DS_Store
.cache
.pytest_cache/
pycache/
__pycache__
.#*
*\#*\#
[#]*#
*~
*$
*.bak
*flymake*
*.iml
*.kdev4
*.log
*.swp
*.pdb
.project
.pydevproject
.settings
.idea
.vagrant
.noseids
.ipynb_checkpoints
.tags
.cache/
.vscode/
*.a
*.com
*.class
*.dll
*.exe
*.pxi
*.o
*.py[ocd]
*.so
.build_cache_dir
MANIFEST

dist
build
doc/_build

env

*.egg-info
.eggs
.pypirc
.tox
*.whl
.coverage
coverage.xml
